@using AquaMonitor.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav login-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Manage" title="Manage">@User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-action="LogOut" asp-controller="Account">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" data-toggle="modal" data-target="#loginDialog" href="#">Login</a>
        </li>
    }
</ul>



<div id="loginDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="loginForm" asp-controller="Account" asp-action="Login">
                <div class="modal-body">
                    <div id="loginAlert" class="alert alert-primary hidden" role="alert">
                        Username or password were invalid
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="Username">Username</label>
                        <input type="text" class="form-control" id="Username" name="Username" placeholder="Enter username">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
